@import "./color_schemes/dark";

$link-color: tomato;

.design {
    padding: 5px;
    background-color: darkgreen;
    font-weight: bolder;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #000000;
}

.center {
    text-align: center;
}

.aux-nav {
    visibility: hidden;
    display: none;
}