@import "./color_schemes/dark";

$link-color: tomato;

p {
  text-align: justify;
  text-justify: inter-word;
  text-indent: 30px;
}

.center {
  margin: auto !important;
}

.grid-two {
  display:grid;
}

.profile {
  align-content: space-evenly !important;
  display: flex !important;
  flex-direction: row !important;
}

div.profile > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.profile > div > p {
  margin: 15px;
}

p > img {
  margin-left: -30px;
}

img + img {
  margin-left: 0px !important;
}

.profile-pic {
  width: 40%;
  margin: 5px;
}

.emphasize {
  background-color: maroon;
  padding: 10px;
  padding-left: 40px !important;
  border-radius: 5px;
}

ul.emphasize > li::before {
  padding-right: 10px;
  margin-left: -1.4em !important;
  //color:#fff !important;
}

strong {
  color: tan;
}

canvas {
  background-color: #ffffff;
  border: 5px;
  border-radius: 5px;
  padding: 15px;
}

.design {
    padding: 5px;
    background-color: teal;
    color: #f5f6fa;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #000000;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    font-size: 1.3rem !important;
    font-weight: 400;
}

.cad {
  background-color: rgb(135, 207, 235);
  border: 5px;
  border-radius: 5px;
  padding: 10px;
}

img {
  border-radius: 5px;
}

table.calendar {
  background-color: grey;
}

.calendar thead tr th {
  background-color: #000000;
  font-weight: 500;
  border:1.5px solid #555;
}
.calendar tbody tr td {
  background-color: #eeeeee;
  color: black;
  font-weight: 500;
  border:1.5px solid #aaa;
}

.design .anchor-heading {
  left: -25px !important;
  bottom: -1px !important;
}

#SkillsHistory {
  height: 300px;
}

.anychart-credits-text {
  display:none !important;
  visibility: hidden !important;
}
.center {
    text-align: center;
}

.aux-nav {
    visibility: hidden;
    display: none;
}

.main-content-wrap {
    margin-top: 0px !important;
    padding-top: 0px !important;

    padding-left: 0px !important;
    padding-right: 0px !important;

    padding-bottom: 1rem !important;
    margin-bottom: 2rem !important;
}

.main-content {
    padding-left: 2rem;
    padding-right: 2rem;
}

.main-content ol > li {
    z-index: 0 !important;
}

.main-content ul > li::before {
    z-index: 0 !important;
}

.main-content ol > li::before {
    z-index: 0 !important;
}

#navbar {
    top: 0;
    overflow: hidden;
    font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
    font-size: 1.125rem !important;
    border-bottom: 1px solid #44434D;
    background-color: #27262B;
    display:block;
    padding-left: 1rem;
    z-index: 1;
  }
  
  #navbar a {
    top: 0;
    float: left;
    display: block;
    color: #f5f6fa;
    transform: translate(0, 20%);
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border-radius: 3px;
  }
  
  #navbar a:hover {
    top: 0;
    background-color: #ffffff33;
  }
  
  #navbar a.active {
    top: 0;
    background-color: teal;
    color: white;
    box-shadow: 2px 2px 5px #000000;
  }
  
  .content {
    padding: 16px;
  }

  .image-pair {
    display:flex;
    flex-wrap: nowrap;
  }
  
  .image-pair > img {
    margin: 2%;
  }

  .sticky {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

code {
  font-size: large;
}

div.highlighter-rouge {
  background-color: #00000000 !important;
}

div.highlighter-rouge > div.highlight {
  background-color: #21232b;
  padding: 5px !important;
}

div.highlighter-rouge>
div.highlight>
pre.highlight>
code>
div.table-wrapper>
table.rouge-table>
tbody>
tr>
td.rouge-code>
pre{
  font-size: 0.85rem !important;
}

div.highlighter-rouge>
div.highlight>
pre.highlight>
code>
div.table-wrapper>
table.rouge-table>
tbody>
tr>
td>
pre.lineno {
  font-size: 0.85rem !important;
}

.highlighter-rouge button {
  border-radius: 8px !important;
}

.highlight .table-wrapper pre{
  line-height: 1.6 !important;
}

pre.highlight,
figure.highlight {
  padding: 0.9rem;
  background-color: #2d2a2e;
}

.highlight pre,
code {
  background-color: #2d2a2e;
}

.highlight {
  transition: box-shadow 0.25sec !important;
}

.highlighter-rouge .highlight{
  border-radius: 8px !important;
}

.highlighter-rouge:hover {
  box-shadow: 0px 0px 7px 0px rgba(255, 255, 255, 0.055) !important;
}

.highlight, .highlight .w {
  color: #f8f8f2;
  background-color: #272822;
}
.highlight .err {
  color: #272822;
  background-color: #f92672;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  font-weight: 600;
  font-style: italic;
  color: #009c60;
  background-color: #1b1b1b;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  transition-duration: 0.125s;

}

.highlight .c:hover, .highlight .cd:hover, .highlight .cm:hover, .highlight .c1:hover, .highlight .cs:hover{
  font-weight: 400;
  font-style: italic;
  color: #00ff88;
  background-color: #373d4e;
  box-shadow: 2px 2px #888, -2px -2px #888,  2px -2px #888,  -2px 2px #888
}

.highlight .cp {
  color: #f92672;
}
.highlight .cpf {
  color: #f4bf75
}
.highlight .nt {
  color: #f4bf75;
}
.highlight .o, .highlight .ow {
  color: #f92672;
}
.highlight .p, .highlight .pi {
  color: #f0bc82;
}
.highlight .gi {
  color: #a6e22e;
}
.highlight .gd {
  color: #f92672;
}
.highlight .gh {
  color: #66d9ef;
  background-color: #272822;
  font-weight: bold;
}
.highlight .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #ae81ff;
}
.highlight .k {
  color: cyan;
}
.highlight .kc {
  color: #fd971f;
}
.highlight .kt {
  color: cyan;
}
.highlight .kd {
  color: #fd971f;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #a6e22e;
}
.highlight .sr {
  color: #a1efe4;
}
.highlight .si {
  color: #cc6633;
}
.highlight .se {
  color: #cc6633;
}
.highlight .nn {
  color: #f4bf75;
}
.highlight .nc {
  color: #f4bf75;
}
.highlight .no {
  color: #f4bf75;
}
.highlight .na {
  color: #66d9ef;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #a6e22e;
}
.highlight .ss {
  color: #a6e22e;
}