<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="navbar">
    <a {% if page.url == "/" %} class="active" {% endif %} {% if page.url != "/" %} href="{{site.url}}" {% endif %}>Table of Contents</a>

    {% if page.url != "/" and page.parent %}
        {% assign pages_list = site[page.collection]
            | default: site.html_pages
            | where_exp: "item", "item.title != nil"
            | where_exp: "item", "item.has_children != nil" %}

        {% if page.grand_parent %}
            {% assign parent_page = pages_list
                | where: "title", page.parent
                | where: "parent", page.grand_parent
                | first %}
            {% assign grandparent_page = pages_list
                | where: "title", page.grand_parent
                | first %}
        {% else %}
            {% assign parent_page = pages_list
                | where: "title", page.parent
                | where_exp: "item", "item.parent == nil"
                | first %}
        {% endif %}

        {% if page.parent %}
            {% if page.grand_parent %}
                <a href="{{ grandparent_page.url | relative_url }}">{{ page.grand_parent }}</a>
            {% endif %}
            <a href="{{ parent_page.url | relative_url }}">{{ page.parent }}</a>
        {% endif %}
    {% endif %}
    
    {% if page.url != "/" %}
        <a class="active">{{ page.title }}</a>
    {% endif %}

</div>

<script>
function delay(milliseconds) {
    return new Promise(resolve => {
        setTimeout(resolve, milliseconds);
    });
}
document.addEventListener("DOMContentLoaded", async function() {
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var page_title = document.getElementById("page-title");
    var site_header_style = getComputedStyle(document.getElementsByClassName("site-header").item(0));
    var sticky = navbar.offsetTop;

    navbar.style.height = site_header_style.height;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky");
            page_title.style.marginTop = site_header_style.height;
        } else {
            navbar.classList.remove("sticky");
            page_title.style.marginTop = "0px";
            sticky = navbar.offsetTop;
            navbar.style.height = site_header_style.height;
        }
    }

    myFunction();

    if (window.location.hash) {
        const targetElementId = window.location.hash.slice(1);
        const targetElement = document.getElementById(targetElementId);

        if (targetElement) {

            await delay(750);

            const offset = -80;
            const newScrollPosition = targetElement.getBoundingClientRect().top + window.scrollY + offset;

            window.scrollTo({
                top: newScrollPosition,
                behavior: "smooth"
            });
            console.log("Smooth scrolling to element:", targetElementId);
        } else {
            console.log("Target element not found:", targetElementId);
        }
    }
});

</script>

</body>
</html>