---
layout: default
---
<br>
<h1 style="padding-bottom: 20px; z-index: -1; margin-top: 0px;" id="page-title">
    <a href="{{ page.url | absolute_url }}"> {{ page.title }} </a> - {% if page.notebook == "header" %} Table Of Contents {% endif %}{{ page.date | date: "%B %d, %Y" }}
</h1>
{{ content }}
<hr>
{% if page.signatures %}
<h2>Entry Signatures - </h2>
    {% for signature in page.signatures%}
        <br>
        {{signature}}
    {% endfor %}
{% endif %}
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
<script>
    /*Chart Percentage Coloring*/
    document.addEventListener("DOMContentLoaded", function (){
        var tdElements = document.querySelectorAll("td");

        tdElements.forEach(function(td) {

            var textContent = td.textContent.trim();
            
            var percentagePattern = /^\d+%$/;
            
            if (! percentagePattern.test(textContent)) {
                return;
            }

            var percentage = parseInt(td.textContent);
            var hueValue = Math.round((percentage / 100) * 120);
            var backgroundColor = "hsl(" + hueValue + ", 50%, 50%)";
            
            td.style.backgroundColor = backgroundColor;

            td.style.color = "black";
        });
    });
    /*Smooth Scrolling To Hash*/
    function delay(milliseconds){
        return new Promise(resolve => {
            setTimeout(resolve, milliseconds);
        });
    }

    document.addEventListener("DOMContentLoaded", async function(){

        if (window.location.hash) {

            await delay(750);

            var targetElement = document.getElementById(window.location.hash.slice(1));
            var site_header_style = getComputedStyle(document.getElementsByClassName("site-header").item(0));

            if (targetElement) {
                var offset = -80;
                
                var newScrollPosition = targetElement.getBoundingClientRect().top + window.scrollY + offset;
                

                window.scrollTo({
                    top: newScrollPosition,
                    behavior: "smooth"
                });
            }
        }
    });
    /*Skills History Chart*/

    document.addEventListener("DOMContentLoaded", function() {

    var tag = document.getElementById("SkillsHistory");
    var end_date = tag.getAttribute("to_date");

    console.log(end_date);

    var months = [
        "January",
        "Febuary",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
    ];

    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

    var data_raw = [

        ["2023-08-12", 2, 0, 0, 0],
        ["2023-08-12", 7, 0, 0, 0],
        ["2023-08-12", 4, 0, 0, 0],

        ["2023-08-31", 37, 12, 65, 0],
        ["2023-08-31", 35, 12, "continue", 0],
        ["2023-08-31", 12, 12, "continue", 0],
    ];

    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

    var data_parsed = [];

    var target_date_found = false;
    var last_date_found;
    var date_counter;
    var date_as_string_array;
    var new_date;

    var date_year;
    var date_month;
    var date_day;

    var last_driver_score = 0;
    var last_programming_score = 0;
    var last_rank_100_score = 0;
    var last_rank_1000_score = 0;

    var date;
    var driver_score;
    var programming_score;
    var rank_100_score;
    var rank_1000_score;

    for (let i = 0; i < data_raw.length; i++) {
        const element = array[i];

        date = element[0];
        driver_score = element[1];
        programming_score = element[2];
        rank_100_score = element[3];
        rank_1000_score = element[4];
        
        if(date != last_date_found) {
            date_counter = 1;
            last_date_found = date;
        } else {
            date_counter += 1;
        }

        date_as_string_array = toString(date).split("-");
        date_year = date_as_string_array[0];
        date_month = months[parseInt(date_as_string_array[1])-1];
        date_day = date_as_string_array[2];

        new_date = String(date_month) + String(date_day) + String(date_year)

    }

    var dataSet = anychart.data.set(data);

    var firstSeriesData = dataSet.mapAs({x: 0, value: 1});
    var secondSeriesData = dataSet.mapAs({x: 0, value: 2});
    var thirdSeriesData = dataSet.mapAs({x: 0, value: 3});

    var chart = anychart.line();

    var firstSeries = chart.line(firstSeriesData);
    firstSeries.name("Roger Federer");
    var secondSeries = chart.line(secondSeriesData);
    secondSeries.name("Rafael Nadal");
    var thirdSeries = chart.line(thirdSeriesData);
    thirdSeries.name("Novak Djokovic");

    chart.legend().enabled(true);

    chart.title("Big Three's Grand Slam Title Race");

    chart.container("SkillsHistory");

    chart.draw();

    });
</script>

