---
layout: default
---
<br>
<h1 style="padding-bottom: 20px; z-index: -1; margin-top: 0px;" id="page-title">
    <a href="{{ page.url | absolute_url }}"> {{ page.title }} </a> - {% if page.notebook == "header" %} Table Of Contents {% endif %}{{ page.date | date: "%B %d, %Y" }}
</h1>
{{ content }}
<hr>
{% if page.signatures %}
<h2>Entry Signatures - </h2>
    {% for signature in page.signatures%}
        <br>
        {{signature}}
    {% endfor %}
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    /*Chart Percentage Coloring*/
    document.addEventListener("DOMContentLoaded", function (){
        var tdElements = document.querySelectorAll("td");

        tdElements.forEach(function(td) {

            var textContent = td.textContent.trim();
            
            var percentagePattern = /^\d+%$/;
            
            if (! percentagePattern.test(textContent)) {
                return;
            }

            var percentage = parseInt(td.textContent);
            var hueValue = Math.round((percentage / 100) * 120);
            var backgroundColor = "hsl(" + hueValue + ", 50%, 50%)";
            
            td.style.backgroundColor = backgroundColor;

            td.style.color = "black";
        });
    });
    /*Smooth Scrolling To Hash*/
    function delay(milliseconds){
        return new Promise(resolve => {
            setTimeout(resolve, milliseconds);
        });
    }

    document.addEventListener("DOMContentLoaded", async function(){

        if (window.location.hash) {

            await delay(750);

            var targetElement = document.getElementById(window.location.hash.slice(1));
            var site_header_style = getComputedStyle(document.getElementsByClassName("site-header").item(0));

            if (targetElement) {
                var offset = -80;
                
                var newScrollPosition = targetElement.getBoundingClientRect().top + window.scrollY + offset;
                

                window.scrollTo({
                    top: newScrollPosition,
                    behavior: "smooth"
                });
            }
        }
    });
    /*Skills History Chart*/

    document.addEventListener("DOMContentLoaded", function() {

    var tag = document.getElementById("SkillsHistory");
    var end_date = tag.getAttribute("to_date");

    var months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
    ];

    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

    var data_raw = [
        ["2023-08-12", [2, 7, 4], [0], NaN, NaN],
        ["2023-08-15", [22, 17, 24], [0], NaN, NaN],
        ["2023-08-17", [], [], 43, NaN],
        ["2023-08-24", [], [], 58, NaN],
        ["2023-08-31", [37, 35, 12], [12], 65, NaN],
        ["2023-09-07", [55, 67, 82], [0], 103, NaN],
        ["2023-09-14", [72, 80, 75], [76], 130, NaN],
        []
    ];

    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
    /**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

    var data_parsed = [];

    let target_date_found = false;
    var date_as_string_array;
    var new_date;

    var date_year;
    var date_month;
    var date_day;

    var date;

    var driver_scores;
    var programming_scores;

    var best_driver;
    var best_programming;

    let last_driver = 0;
    let last_programming = 0;

    var rank_100_score;
    var rank_1000_score;

    var date_extent;

    for (let i = 0; i < data_raw.length; i++) {
        const element = data_raw[i];

        date = element[0];
        driver_scores = element[1];
        programming_scores = element[2];
        rank_100_score = element[3];
        rank_1000_score = element[4];

        /*Creating nice date*/
        date_as_string_array = date.split("-");
        date_year = date_as_string_array[0];
        date_month = months[parseInt(date_as_string_array[1])-1];
        date_day = date_as_string_array[2];
        new_date = String(date_month) + " " + String(date_day) + ", " + String(date_year);
        
        /*Creating nice driver and programming*/
        driver_scores.sort();
        programming_scores.sort();

        if (driver_scores.length == 0) {
            best_driver = NaN;
        } else {
            best_driver = driver_scores[driver_scores.length - 1];
            last_driver = best_driver;
        }
        
        if (programming_scores.length == 0) {
            best_programming = NaN;
        } else {
            best_programming = programming_scores[programming_scores.length - 1];
            last_programming = best_programming;
        }

        data_parsed.push([new_date, best_driver, best_programming, rank_100_score, rank_1000_score, driver_scores, programming_scores]);

        if(date == end_date) {
            date_extent = i + 1;
            break;
        }
    }

    console.log(data_parsed);
    
    const xValues = data_parsed.map( data => data[0]).slice(0, date_extent);

    new Chart("SkillsHistory", {
    type: "line",
    data: {
        labels: xValues,
        datasets: [
            {
                data: data_parsed.map(data => data[1] + data[2]).slice(0, date_extent),
                borderColor: "red",
                fill: false,
                label: "Our score",
                showLine: true,
                spanGaps: true
            },{
                data: data_parsed.map(data => data[3]).slice(0, date_extent),
                borderColor: "green",
                fill: false,
                label: "#100 in the world",
                showLine: true,
                spanGaps: true
            },{
                data: data_parsed.map(data => data[4]).slice(0, date_extent),
                borderColor: "blue",
                fill: false,
                label: "#1000 in the world",
                showLine: true,
                spanGaps: true
            }
        ]
    },
    options: {
        elements: {
            line: {
                tension: 0.5
            }
        },
        interaction: {
            mode: 'index',
            intersect: false,
        },
        legend: {display: true},
        scales: {
            x: [{
                type: 'category',
                labels: xValues
            }]
        }
    }
    });

    });
</script>

