---
layout: default
---
<br>
<h1 style="padding-bottom: 20px; z-index: -1; margin-top: 0px;" id="page-title">
    <a href="{{ page.url | absolute_url }}"> {{ page.title }} </a> - {% if page.notebook == "header" %} Table Of Contents {% endif %}{{ page.date | date: "%B %d, %Y" }}
</h1>
{{ content }}
<hr>
{% if page.signatures %}
<h2>Entry Signatures - </h2>
    {% for signature in page.signatures%}
        <br>
        {{signature}}
    {% endfor %}
{% endif %}

<script>
    document.addEventListener("DOMContentLoaded", function (){
        var tdElements = document.querySelectorAll("td");

        tdElements.forEach(function(td) {

            var textContent = td.textContent.trim();
            
            var percentagePattern = /^\d+%$/;
            
            if (! percentagePattern.test(textContent)) {
                return;
            }

            var percentage = parseInt(td.textContent);
            var hueValue = Math.round((percentage / 100) * 120);
            var backgroundColor = "hsl(" + hueValue + ", 50%, 50%)";
            
            td.style.backgroundColor = backgroundColor;

            td.style.color = "black";
        });
    });
</script>

